.main {
    display: flex;
    gap: 50px;
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

.small-div {
    width: 400px;
    height: 400px;
    background-color: rgb(230, 207, 250);
    text-align: center;
    
}

.text {
    padding-top: 100px;
    font-size: 20px;
    color: rgb(71, 103, 7);
}